hr(style="margin-top: 50px;")
.footer(style="text-align: center;")
  p
    | Copyright ©&nbsp;
    script.
      var d = new Date();
      document.write(d.getFullYear());
    | &nbsp;MyGang
script(src='/js/bootstrap.min.js')
script(src="/js/material.min.js")
script("/js/ripples.min.js")
script(src="/js/load.js")
