head
  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  //- SEO Meta Data
  title LoopBack API Server
  meta(name='author', content='')
  meta(name='description', content='')
  meta(name='keywords', content='')

  //- Styles
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/roboto.min.css')
  link(rel='stylesheet', href='/css/material.min.css')
  link(rel='stylesheet', href='/css/ripples.min.css')
  link(rel='stylesheet', href='/css/styles.css')

  //- jQuery
  script(src='/js/jquery.min.js')
  
